$font-stack: 'Nunito Sans', Helvetica, Arial, sans-serif;
$main-color:rgb(94, 79, 72);
$second-color: rgb(195, 5, 128);
$third-color: rgb(166, 115, 115);
$light: lighten($main-color, 30);
$dark: lighten($third-color, 20);
$background-color: #FFFAF0; //floralwhite

%links {
    text-decoration: none;
    color: $light;
    font-weight: 700;
}
%grid12columns {
    margin-left: 0;
    grid-template-columns: 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6%;
    column-gap: 2.64%;
    display: grid;
}
@mixin tablet {
    @media only screen and (max-width: 900px) { @content; }
}
@mixin phone {
    @media only screen and (max-width: 600px) { @content; }
}
@mixin miniPhones {
    @media only screen and (max-width: 400px) { @content; }
}

@mixin set-font-color($mobile: true) {
    @if($mobile) {
        color: $main-color;
    } @else {
        background-color: $main-color;
        color: $third-color;
    }
}


body {
    background-color: $background-color;
    color: $main-color;
    font-family: $font-stack;
    position: relative;
    min-height: 100vh;
}
@include miniPhones {
    body {
        background-color: $background-color;
    }
}
h1, h3 {
    color: $main-color;
}
.red:hover {
    color: $dark;
}
.gridContainer {
    @extend %grid12columns;
}

.container section {
    grid-column: 1 / 10;   
}
@include tablet {
    .container section {
        grid-column: 1 / 13;
    }
}

@include phone {
    .left {
        grid-column: 1 / 13;
    }
}
#websites {
    grid-column: 1 / 13;
    @extend %grid12columns;
}
.left {
    grid-column: 1 / 7;
    margin-top: 3em;
}
.right {
    grid-column: 7 / 13;
}
@include tablet {
    .right {
        grid-column: 3 / 11;
    }
}
@include phone {
    .right {
        grid-column: 1 / 13;
    }
}
.column {
    margin-bottom: 2em;
    h4 {
        margin-top: 0.5em;
        font-size: 1.2em;
        font-style: italic;
    }
    h4:hover {
        color: $second-color;
    }
    p {
        cursor: pointer;
        width: 90%;
    }
    a {
        color: $light;
    }
    a:hover {
        color: $second-color;
    }
}

.first {
    grid-column: 1 / 5;
}
.second {
    grid-column: 5 / 9;
}
.third {
    grid-column: 9 / 13;
}
.btn {
    border-radius: 2px;
    border: none;
    background-color: $light;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.3em 0.5em;
    text-align: 0.7em;
    font-weight: 700;
    cursor: pointer;
}
.hidden {
    display: none;
}