body {
    background-color: darkslategray;
    color: #fff;
    font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
}
.content {
    width: 80%;
    max-width: 1220px;
    margin: 3em auto;
}
header {
    margin: 0 auto;
    width: 95%;
    max-width: 1220px;
}
#logo {
    margin: 0.5em;
    font-size: 1.5em;
}